extends layout
block content
  .dashboard
    .battery-page
      h1 Battery Service Center
      // HIRE / BUY SWITCH
      .battery-tabs
        button.btn-submit.active(onclick="switchTab('hire')") Hire
        button.btn-submit(onclick="switchTab('buy')") Buy
      // VEHICLE + PRICE SELECTION
      form#batteryForm
      .battery-options
        .option-card
          h3 Select Vehicle Type
          select#vehicleType(onchange='updatePrice()')
            option(value='') Choose Vehicle
            option(value='car') Personal Car
            option(value='truck') Truck
            option(value='taxi') Taxi
            option(value='boda') Boda Boda
        .option-card.price-display
          h3 Service Price
          p#priceDisplay 0 UGX
      // CUSTOMER DETAILS CARD
      .battery-form-card
        h2 Customer Details
        form#batteryForm
          label Customer Name
          input(type='text')
          label Phone Contact
          input(type='text')
          label Vehicle Number Plate
          input(type='text')
          label Service Fee
          input#finalFee(type='text' readonly='')
          button.btn-submit(type='submit') Confirm Service
  script(src='/js/batterySection.js')
