extends layout
block content 
  div.form-card
    
    form#batteryForm(method='post' action='/registerBattery' enctype='multipart/form-data')
      div.batteryDetails
        h2 Batteries
        p Please enter the Battery details
        p.underline
        label(for='') Battery Type
        select#batteryType(name="batteryType")
          option(value="") Select battery type
          option(value="Absorbent Glass Matt") Absorbent Glass Matt
          option(value="Flooded") Flooded
          option(value="Lithium-ion") Lithium-ion
        label(for='') Battery Size
        select#batterySize(name="batterySize")
          option(value="") Select battery size
          option(value="12V") 12V(for bodabodas, small cars)
          option(value="24V") 24V(for big trucks)
        label(for='batteryImage') battery Image
        input#batteryImage(type='file' name='batteryImage')
        label(for='hire') Hire Price
        input#hire(type='number' name='hire')
        label(for='sale') Sale Price
        input#sale(type='number' name='sale')
        div#resultMessage
      button.btn-submit(type='submit') Add Battery
  script(src='/js/batteryValidation.js')