extends layout
block content
    div.signinpage
        div.form-card
            form#loginForm(method='post' action='/auth/login')
                h2 Welcome Back
                div.userDetails
                    p Please enter your details to sign in.
                    p.underline
                    div
                        label(for='email') Email Address
                        input#email(type='text' placeholder='name@gmail.com' name='email')  
                    div 
                        label(for='password') Password
                        input#password(type='password' placeholder='••••••••' name='password')
                    div#resultMessage
                button.btn-submit(type='submit') Log In
    script(src='/js/loginValidation.js')