extends layout
block content
    div
        div.form-card 
            form#signoutVehicle(method='post' action='/signout/confirm')
                div.vehicleDetails
                    h2 Vehicle Signout
                    p.underline
                    p Please enter your receipt to process your signout
                    label(for='receiptNumber') Receipt Number
                    input(type='text' placeholder="RCPT-abcd" name='receiptNumber')
                div.attendantDetails
                    h2 Confirm Signout
                    p.underline
                    label(for='receiverName') Receiver Name
                    input#receiverName(type='text' placeholder='John' name='receiverName')
                    label(for='phone') Phone Number
                    input#phoneNumber(type='tel' placeholder='+256 700 000000' name='phoneNumber')
                    label(for='gender') Gender
                    select#gender(name="gender")
                        option(value="") Select your gender
                        option(value="Male") Male 
                        option(value="Female") Female   
                    label(for='ninNumber') NIN Number
                    input#ninNumber(type='text' name='ninNumber')
                    div#resultMessage
                button.btn-submit(type='submit') Confirm Signout
        script(src='/js/vehicleSignout.js')

 
