doctype html
head
  title ParkEase Dashboard
  link(rel='stylesheet' href='css/styles.css')
.nav-set
  nav.navbar
    .logo
      | ParkEase
    ul.nav-links
      li
        a(href='register.html') Register Car
      li
        a(href='reports.html') Admin
      li
        a(href='batterySection.html') Battery Section
      li
        a(href='tyreClinic.html') Tyre Clinic
      li
        a(href='dashboard.html') Dashboard
      li
        a.signOut-link(href='signOut.html') Check Out
    .nav-right
      span.user-role Admin
      a.logout-btn(href='index.html') Logout
  .dashboard
    .form-section
      h2 Car Sign Out
      form#signOutForm
        label Receiver Name
        input#receiverName(type='text')
        label Role
        input#dashboardRole(type='text')
        label Receipt Number
        input#receiptNumber(type='text')
        label Phone Number
        input#phoneNumber(type='text')
        label Gender
        select#gender
          option Male
          option Female
        label NIN Number
        input#ninNumber(type='text')
        label Arrival Time
        input#arrivalTime(type='datetime-local')
        button.btn-submit(type='submit') Generate Receipt
    .receipt-section
      h2 Receipt
      #receiptContent
        p No receipt generated yet.
      div
        button.btn-submit PRINT
script(src='javaScript/signOut.js')
