extends layout
block content 
  .tyre-left
    form(method='post' action='/tyreServices')
      .tyre-options
        .option-card
          h3 Select Tyre Type
          select#vehicleType(name="model")
            option(value='') Choose Tyre
            option(value='Michelin') Michelin (UGX 30,000)
            option(value='Bridgestone') Bridgestone (UGX 40,000)
            option(value='BFGoodrich') BFGoodrich (UGX 35,000)
        .option-card
          h3 Select Tyre Size
          select#tyreSize(name="size")
            option(value='') Choose Size
            option(value='15_inch')  15 inch
            option(value='17_inch')  17 inch
            option(value='18_inch')  18 inch
        .option-card
          h3 Select Service
          select#serviceType(name="service")
            option(value='') Choose Service
            option(value='pressureFilling')  Pressure Filling (UGX 500)
            option(value='punctureFixing')  Puncture Fixing (UGX 5000)
            option(value='valveReplacement')  Valve Replacement  (UGX 5000)
        .option-card.price-display
          h2 Final Price
          input(type="number" name="price")
      // CUSTOMER DETAILS
      .driverDetails
        h2 Customer Details
        p.underline
        label Customer Name
        input(type='text' name="name")
        label Phone Contact
        input(type='number' name="phoneNumber")
        label Vehicle Number Plate
        input(type='text' name="numberPlate")
        button.btn-submit(type='submit') Confirm Service
