extends layout
block content 
  .tyre-left
    h2 Tyre Clinic Service
    form(method='post' action='/tyreServices')
      .tyre-options
        .option-card
          h3 Select Vehicle Type
          select#vehicleType
            option(value='') Choose Vehicle
            option(value='car') Personal Car
            option(value='suv') SUV
            option(value='truck') Truck
            option(value='boda') Boda Boda
        .option-card
          h3 Select Tyre Size
          select#tyreSize
            option(value='') Choose Size
            option 15 inch
            option 17 inch
            option 18 inch
            option 20 inch
        .option-card
          h3 Select Service
          select#serviceType
            option(value='') Choose Service
            option Pressure Filling
            option Puncture Fixing
            option Valve Replacement
        .option-card.price-display
          h3 Total Price
          p#priceDisplay 0 UGX
      // CUSTOMER DETAILS
      .driverDetails
        h2 Customer Details
        p.underline
        label Customer Name
        input(type='text')
        label Phone Contact
        input(type='text')
        label Vehicle Number Plate
        input(type='text')
        label Final Amount
        input(type='text' readonly='')
        button.btn-submit(type='submit') Confirm Service
