extends layout
block content
    h2 Create an Account
    form(method='post' action='/auth/signup')
        
            div
                label.form-label.fw-semibold(for='firstName') First Name
                input#firstName.form-control(type='text' placeholder='John' name='firstName')
            .col-md-6
                label.form-label.fw-semibold(for='lastName') Last Name
                input#lastName.form-control(type='text' placeholder='Doe' name='lastName')
        .mb-3
            label.form-label.fw-semibold(for='email') Email Address
            input#email.form-control(type='email' placeholder='name@example.com' name='email')
        .mb-3
            label.form-label.fw-semibold(for='phone') Phone Number
            input#phone.form-control(type='tel' placeholder='+256 700 000000' name='phoneNumber')
        .mb-3
            label.form-label.fw-semibold(for='role') Role
            select#role(name="role")
                option(value="") Select role 
                option(value="Admin") Admin 
                option(value="Manager") Manager 
                option(value="Attendant") Attendant   
        .mb-4
            label(for='password') Password
            input(type='password' placeholder='••••••••' name='password')
            .form-text Must be at least 8 characters long.
        button(type='submit') Sign Up
        .text-center.mt-4
            p
                | Already have an account? 
                a.text-decoration-none(href='/auth/login') Log in
